<ion-content [fullscreen]="true">
  <div class="izenburua ion-text-center">
    <h1>GURE</h1>
    <h1>UHOLDEA</h1>
  </div>
  <div class="container ion-text-center">
    <ion-button [routerLink]="['/kantua']">Kantua</ion-button>
    <!--<ion-button [routerLink]="['/hitzak-lotu']">Hitzak Lotu</ion-button>
    <ion-button [routerLink]="['/sentimenduak']">Hitzak Lotu</ion-button>
    <ion-button [routerLink]="['/ordenatu-argazkiak']">Hizki sopa</ion-button>-->

    <ion-button class="botoia" [routerLink]="['/intro']">Hasi</ion-button>
  </div>
  
</ion-content>
