<ion-content [fullscreen]="true">
  <div class="izenburua ion-text-center">
    <h1>GURE</h1>
    <h1>UHOLDEA</h1>
  </div>

  <div class="login">
    <div class="datuak">
        <ion-input [(ngModel)]="username" placeholder="Erabiltzailea"></ion-input>
    </div>
    <div class="datuak">
        <ion-input type="password" [(ngModel)]="password" placeholder="Pasahitza"></ion-input>
    </div>
  </div>



  <div class="container ion-text-center">
    <ion-button  class="botoia"  [routerLink]="['/registro']">Erregistratu</ion-button>

</div>

  <div class="container ion-text-center">
    <ion-button (click)="login(username, password)"class="botoia" >Hasi</ion-button>
  </div>

  <div class="marea-container">
    <img src="assets/img/lluvia.gif" alt="Marea GIF" class="marea-gif">
  </div>
</ion-content>
