ion-content{
  --background: #ccc url("../../assets/img/bilbo_sarrera.png") no-repeat center center / cover;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 12em;
}

.botoia{
  
  width: 125px;

  border: 2px solid black;
  border-radius: 0.5em;

  --background: #d8e246;
  color: black;
}

.botoia:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.izenburua{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}