<ion-content [fullscreen]="true">
  <div class="izenburua ion-text-center">
    <h1>GURE</h1>
    <h1>UHOLDEA</h1>
  </div>

  <div class="login">
    <div class="datuak">
        <ion-input [(ngModel)]="username" placeholder="Erabiltzailea"></ion-input>
    </div>
    <div class="datuak">
        <ion-input type="password" [(ngModel)]="password" placeholder="Pasahitza"></ion-input>
    </div>
  </div>



  <div class="container ion-text-center">
    <ion-button  class="botoia"  [routerLink]="['/amaiera']">Erregistratu</ion-button>
    <ion-button class="botoia" (click)="login(username, password)">Hasi</ion-button>
    
  </div>
  
</ion-content>
