<ion-header>
</ion-header>

<div class="panel" [ngStyle]="{'visibility': panel_visible}"></div>

<!--MAPA-->
<div class="map-container" [ngStyle]="{'visibility': mapa_visible}">
  <img src="assets/img/mapa_argu.png">
  <h5 class="map-text">ASTE NAGUSIA</h5>
  <ion-fab-button class="map-button" (click)="hurrengoJokoa()"><ion-icon name="flag"></ion-icon></ion-fab-button>
</div>




<ion-content class="ion-padding">
  <video controls width="100%" height="auto">
    <source src="assets/video/Itsasadarraren bideoa.MOV" type="video/mp4">
    Ezin da bideo jarri zure mugikorra dela eta.
  </video>
  <div>
    <p>Puntuazioa: {{ puntos }}</p>
    <p>Denbora: {{ tiempoRestante }} segundu</p>
  </div>
  <div *ngIf="juegoIniciado && !juegoTerminado">
    <h2>{{ preguntaActual.pregunta }}</h2>
    <ion-button *ngFor="let respuesta of preguntaActual.respuestas" (click)="verificarRespuesta(respuesta)"
      [color]="respuestaColor(respuesta)">
      {{ respuesta }}
    </ion-button>
  </div>
  <div *ngIf="juegoTerminado">
    <h2>Galdetegia bukatu da!</h2>
    <ion-button class="hasi"(click)="repetirIntento()"> Errepikatu Saiakera</ion-button>
  </div>
  <div *ngIf="!juegoIniciado && !juegoTerminado">
    <ion-button class="hasi"(click)="iniciarJuego()">Hasi galdetegia </ion-button>
  </div>


  <!-- ... (código existente) -->

  <!-- Agrega un botón para mostrar respuestas correctas -->
  <ion-button class="hasi"(click)="mostrarRespuestasCorrectas()" *ngIf="juegoTerminado">Erantzun zuzenak</ion-button>

  <!-- Muestra las respuestas correctas si el botón ha sido presionado -->
  <div *ngIf="mostrarRespuestas">
    <h2> Galdereen erantzunak</h2>
    <div *ngFor="let pregunta of preguntas">
      <p>{{ pregunta.pregunta }} - <strong>  Erantzun zuzena:</strong>   {{ pregunta.respuestaCorrecta }}</p>
    </div>
  </div>
  <ion-img src="assets/img/Argu.png" class="esquina-img"></ion-img>
  <div class="botoiak">
    
    <ion-fab-button (click)="mapaErakutsi()" [disabled]="mapa_botoia"><ion-icon name="map"></ion-icon></ion-fab-button>
  </div>
</ion-content>



