// test.galderak.page.scss

ion-content {
    --background: #CCFFFF;
    padding: 20px; 
    }

  .nombre-personaje {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #63ec63;
    box-sizing: border-box;
    margin: -10px;
    margin-bottom: 10px;
    width: 70px;

  }
  
  .esquina-img {
    position: fixed;
    bottom: 40px;
    right: 1%;
    width: 150px;
    height: auto;
    animation: shake 0.5s infinite alternate;
    
  }
  
  .dialogo {
    background-color: rgba(51, 221, 233, 0.7);
    border: 6px solid #63ec63;
    position: fixed;
    bottom: 150px;
    padding: 10px;
    left: 25%;
    width: 60%;
    height: auto;
    box-sizing: border-box;
    font-size: 17px;
  }

  ion-fab-button{
    margin: 1em;
    border: 2px solid black;
    border-radius: 2em;

    --background:#2faf2f;
}

ion-fab-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


