<div class="panel" [ngStyle]="{'visibility': panel_visible}"></div>

 <!--MAPA-->
 <div class="map-container" [ngStyle]="{'visibility': mapa_visible}">
  <img src="assets/img/mapa_argu.png">
  <p class="map-text"> BILBOKO ITSASADARRA</p>
  <ion-fab-button class="map-button" (click)="hurrengoJokoa('/test-galderak')"><ion-icon name="flag"></ion-icon></ion-fab-button>
</div>

<h2 id="titulua">HIZKI SOPA</h2>
<table id="sopaDeLetras">
  <tbody>
    <!-- Filas y celdas se generan dinámicamente en el componente TypeScript -->
  </tbody>
</table>

<div id="palabrasEncontradas">
  <ul>
    <li *ngFor="let palabra of getPalabrasEncontradas()">
      {{ palabra }}
    </li>
  </ul>
</div>

<div id="contenedorBotonTexto">
  <ion-button class="miBoton" (click)="iluminarPrimeraLetraNoSeleccionada();showHelpText()">Laguntza</ion-button>
  <p id="helpText"></p>
</div>

<div class="botoiak">
  <ion-fab-button ><ion-icon name="play"></ion-icon></ion-fab-button>
  <ion-fab-button ><ion-icon name="pause"></ion-icon></ion-fab-button>
  <ion-fab-button (click)="mapaErakutsi()" [disabled]="mapa_botoia"><ion-icon name="map"></ion-icon></ion-fab-button>
</div>
