<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sentimenduak</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="panel" [ngStyle]="{'visibility': panel_visible}"></div>

    <!--MAPA-->
    <div class="map-container" [ngStyle]="{'visibility': mapa_visible}">
      <img src="assets/img/mapa_argu.png">
      <h5 class="map-text">ERRIBERA MERKATUA</h5>
      <ion-fab-button class="map-button" (click)="hurrengoJokoa('/hitzak-lotu')"><ion-icon name="flag"></ion-icon></ion-fab-button>
    </div>

  <div class="ion-text-center">
    <div class="sentimendua">
      <h3>SENTIMENDUA</h3>
      <h4>{{ausazko_sentimendua}}</h4>
    </div>

    <div class="ion-text-center gidoia">
      <h4>GIDOIA</h4>
      <p>*Bilboko jaietan lagun talde bat aurkitzen dugu, musika txosnetan, koadrilak...*</p>
      <p>Pertsonai 1: Ze ondo gauden hemen dantzan!</p>
      <p>Pertsonai 2: Bai! Zelako abesti hona!</p>
      <p>Pertsonai 3: Dantzatu, dantzatu!</p>
      <p>Pertsonai 4: Eee... Lagunak! Euri pilo bat egiten hari du... Hemendik joan beharko ginateke,</p>
      <p>bustitzen hari gara.</p>
      <p>Pertsonai 1: Arrazoia duzu, goaz Arriagara, bertan estalduko gara.</p>
      <p>Pertsonai 3: Tira, bagoaz.</p>
      <p>*Arriaga antzokian gaude, euria egiten du, dirudi geldituko dela baina bat-batean euri pila bat</p>
      <p>egiten hasten da. Itsasadarreko uraren maila gora doala ikusten dugu, eta pentsatu behar dugu</p>
      <p>ibaiak gainezka egin aurretik egin behar dugula.*</p>
      <p>Pertsonai 2: Talde, euri asko egiten ari du! Zer egingo dugu?</p>
      <p>Pertsonai 3: Hemendik joan behar gara.</p>
      <p>Pertsonai 4: Ez, lasai egon ez da ezer gertatuko.</p>
      <p>Pertsonai 1: Ez dakit nik... Itsasadarraren maila gora egiten hari du, begiratu.</p>
      <p>*Bagoaz ibaiaren ondora*</p>
      <p>Pertsonai 4: Egia da, ibaiaren maila igotzen ari da.</p>
      <p>Pertsonai 3: Zer egingo dugu?</p>
      <p>Pertsonai 1: Hemendik joan behar gara.</p>
      <p>Pertsonai 4: Baina joaten bagara, gure gauza guztiak hemen utzi beharko ditugu.</p>
      <p>Pertsonai 1: Baina hemen ezin gara gelditu.</p>
        
      <p>Pertsonai 2: Bagoaz, bakoitza bere etxera.</p>
      <p>*Hurrengo egunean dena urez estalita*</p>
        
      <p>Pertsonai 4: Eskerrak atzo etxera joan ginen, ezta?</p>
      <p>Pertsonai 2: Bai, arriskutsua izango zen hemen geratzea.</p>
      <p>Pertsonai 3: Bai, begira ezazue nola geratzen den arriaga...</p>
      <p>Pertsonai 1: Lasai egon, konponduko dute eta beti Arriagara izatera bueltatuko da.</p>
    </div>

    <div class="botoiak">
      <ion-fab-button (click)="audioJarraitu()"><ion-icon name="play"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="audioGelditu()"><ion-icon name="pause"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="mapaErakutsi()" [disabled]="mapa_botoia"><ion-icon name="map"></ion-icon></ion-fab-button>
    </div>
  </div>

</ion-content>

