ion-content {
    --ion-background-color: #f0f0f0;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .piece-container {
    position: relative;
    width: 300px; // Ajusta el tamaño del contenedor según sea necesario
    height: 200px; // Ajusta el tamaño del contenedor según sea necesario
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050505; /* Puedes ajustar el color de fondo según tus preferencias */
    border: 2px solid #fc0505; // Borde para el contenedor del rompecabezas
    margin: 50px;
  }

  .piece {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    position: absolute; /* Asegúrate de que las piezas tengan posición absoluta o relativa */
  }

  .puzzle-container {
    position: relative;
    width: 300px; // Ajusta el tamaño del contenedor según sea necesario
    height: 200px; // Ajusta el tamaño del contenedor según sea necesario
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050505; /* Puedes ajustar el color de fondo según tus preferencias */
    border: 2px solid #fc0505; // Borde para el contenedor del rompecabezas
    margin:50px

  }
  .puzzle-container.completed {
    border-color: green; /* Cambia el borde cuando el rompecabezas está completo */
  }

  img {
    position: absolute;
    cursor: pointer;
  }