
<ion-content [fullscreen]="true">
  <div class="main">

    <div class="panel" [ngStyle]="{'visibility': panel_visible}"></div>
    
    <!--MAPA-->
    <div class="map-container" [ngStyle]="{'visibility': mapa_visible}">
      <img src="assets/img/mapa_argu.png">
      <p class="map-text">TXAKURREN KALEA</p>
      <ion-fab-button class="map-button" (click)="hurrengoJokoa()" ><ion-icon name="flag"></ion-icon></ion-fab-button>
    </div>


    <h1 class="izenburua">EBATZI PUZZLEA</h1>

    <div class="piece-container" (touchmove)="startDrag($event)">
      <img class="piece" *ngFor="let piece of pieces; let i = index"
        [src]="piece.src"
        [style.left.px]="piece.x"
        [style.top.px]="piece.y"
        [style.width.px]="piece.width"
        [style.height.px]="piece.height"
        [style.z-index]="piece.zIndex"
        (touchstart)="selectPiece(i)">
      </div>
    
      <div class="puzzle-container" [class.completed]="completed">
      </div>
      <div class="botoiak">
        <ion-fab-button (click)="audioJarraitu()"><ion-icon name="play"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="audioGelditu()"><ion-icon name="pause"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="mapaErakutsi()" ><ion-icon name="map"></ion-icon></ion-fab-button>
      </div>
    </div>
 
</ion-content>
