ion-content {
    --ion-background-color: #CCFFFF;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .izenburua{
      margin: 10px;
  }
  

  .piece-container {
    position: relative;
    width: 300px; // Ajusta el tamaño del contenedor según sea necesario
    height: 200px; // Ajusta el tamaño del contenedor según sea necesario
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4E95E; /* Puedes ajustar el color de fondo según tus preferencias */
    
    margin: 50px;
  }

  .piece {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    position: absolute; /* Asegúrate de que las piezas tengan posición absoluta o relativa */
  }

  .puzzle-container {
    position: relative;
    width: 300px; // Ajusta el tamaño del contenedor según sea necesario
    height: 200px; // Ajusta el tamaño del contenedor según sea necesario
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4E95E; /* Puedes ajustar el color de fondo según tus preferencias */
    margin:50px

  }
  img {
    position: absolute;
    cursor: pointer;
  }

  